reCamera/flows/flow.json
[
    {
        "id": "4faa963833a046c7",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91fe3dae2d3749fd",
        "type": "subflow",
        "name": "Default Pages",
        "info": "",
        "category": "sscma",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ec72740f78e40785",
        "type": "subflow",
        "name": "Device Info Pages",
        "info": "",
        "category": "sscma",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "9ab1ee429e233a80",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": ["ui-notification", "ui-control"],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "234998f63c55af55",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d4edfe2d22b78af8",
        "type": "sscma",
        "host": "localhost",
        "mqttport": "1883",
        "apiport": "80",
        "clientid": "recamera",
        "username": "",
        "password": ""
    },
    {
        "id": "eb4ea4ad231b87b6",
        "type": "ui-page",
        "name": "Preview",
        "ui": "9ab1ee429e233a80",
        "path": "/preview",
        "icon": "home",
        "layout": "grid",
        "theme": "234998f63c55af55",
        "breakpoints": [
            {"name": "Default", "px": "0", "cols": "3"},
            {"name": "Tablet", "px": "576", "cols": "6"},
            {"name": "Small Desktop", "px": "768", "cols": "9"},
            {"name": "Desktop", "px": "1024", "cols": "12"}
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4b590614656223c2",
        "type": "ui-page",
        "name": "Security",
        "ui": "9ab1ee429e233a80",
        "path": "/security",
        "icon": "security",
        "layout": "grid",
        "theme": "234998f63c55af55",
        "breakpoints": [
            {"name": "Default", "px": "0", "cols": "3"},
            {"name": "Tablet", "px": "576", "cols": "6"},
            {"name": "Small Desktop", "px": "768", "cols": "9"},
            {"name": "Desktop", "px": "1024", "cols": "12"}
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2788be32a24982e1",
        "type": "ui-page",
        "name": "Network",
        "ui": "9ab1ee429e233a80",
        "path": "/network",
        "icon": "wifi",
        "layout": "grid",
        "theme": "234998f63c55af55",
        "breakpoints": [
            {"name": "Default", "px": "0", "cols": "3"},
            {"name": "Tablet", "px": "576", "cols": "6"},
            {"name": "Small Desktop", "px": "768", "cols": "9"},
            {"name": "Desktop", "px": "1024", "cols": "12"}
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "d3e7dcd4b2447549",
        "type": "ui-page",
        "name": "Terminal",
        "ui": "9ab1ee429e233a80",
        "path": "/terminal",
        "icon": "console",
        "layout": "grid",
        "theme": "234998f63c55af55",
        "breakpoints": [
            {"name": "Default", "px": "0", "cols": "3"},
            {"name": "Tablet", "px": "576", "cols": "6"},
            {"name": "Small Desktop", "px": "768", "cols": "9"},
            {"name": "Desktop", "px": "1024", "cols": "12"}
        ],
        "order": 5,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "034b986fab50b7bb",
        "type": "ui-page",
        "name": "Device Info",
        "ui": "9ab1ee429e233a80",
        "path": "/Deviceinfo",
        "icon": "cog",
        "layout": "grid",
        "theme": "234998f63c55af55",
        "breakpoints": [
            {"name": "Default", "px": "0", "cols": "3"},
            {"name": "Tablet", "px": "576", "cols": "6"},
            {"name": "Small Desktop", "px": "768", "cols": "9"},
            {"name": "Desktop", "px": "1024", "cols": "12"}
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d9c66abde84c734d",
        "type": "ui-group",
        "name": "Model Selection",
        "page": "eb4ea4ad231b87b6",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "53a493606ee6d430",
        "type": "ui-group",
        "name": "Preview",
        "page": "eb4ea4ad231b87b6",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7f84e6e11f01d5aa",
        "type": "ui-group",
        "name": "Security",
        "page": "4b590614656223c2",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "15bec593c23e2df1",
        "type": "ui-group",
        "name": "Wi-Fi",
        "page": "2788be32a24982e1",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "62e3f90362f475e5",
        "type": "ui-group",
        "name": "Terminal",
        "page": "d3e7dcd4b2447549",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "853d93c4c0f19c38",
        "type": "ui-group",
        "name": "Power",
        "page": "034b986fab50b7bb",
        "width": "6",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cb81f9d78a6a3513",
        "type": "ui-group",
        "name": "Memory",
        "page": "034b986fab50b7bb",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a2f6b486b575c329",
        "type": "ui-group",
        "name": "Sys Info",
        "page": "034b986fab50b7bb",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "35ddf11ddd1ade60",
        "type": "ui-group",
        "name": "Load",
        "page": "034b986fab50b7bb",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ee7b1867c318ca3",
        "type": "ui-group",
        "name": "Storage",
        "page": "034b986fab50b7bb",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ea08312301a36408",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.26.0",
            "node-red-contrib-os": "0.2.1",
            "node-red-contrib-sscma": "0.3.5",
            "node-red-contrib-seeed-recamera": "0.0.8"
        }
    },
    {
        "id": "e0e62cca1a727447",
        "type": "ui-template",
        "z": "91fe3dae2d3749fd",
        "group": "7f84e6e11f01d5aa",
        "page": "",
        "ui": "",
        "name": "Security",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n  <div>\n    <div id=\"iframe_block\">\n      <iframe id=\"iframe_recamera\"  :src=\"iframeUrl\"></iframe>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        iframeUrl: `http://${window.location.hostname}/#/security?disablelayout=1`\n      };\n    }\n  };\n</script>\n<style>\n  body, html { overflow: hidden; margin: 0; padding: 0; }\n  #iframe_block { overflow: auto; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 100%; min-height: 500px; z-index: 10000; background-color: #eee; display: flex; align-items: center; justify-content: center; }\n  #iframe_block iframe { width: 100%; height: 100%; border: 0; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "e072643ebfa88018",
        "type": "ui-template",
        "z": "91fe3dae2d3749fd",
        "group": "15bec593c23e2df1",
        "page": "",
        "ui": "",
        "name": "Network",
        "order": 1,
        "width": "12",
        "height": "12",
        "head": "",
        "format": "<template>\n  <div>\n    <div id=\"iframe_block\">\n      <iframe id=\"iframe_recamera\" :src=\"iframeUrl\"></iframe>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        iframeUrl: `http://${window.location.hostname}/#/network?disablelayout=1`\n      };\n    }\n  };\n</script>\n<style>\n  body, html { overflow: hidden; margin: 0; padding: 0; }\n  #iframe_block { overflow: auto; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 100%; min-height: 500px; z-index: 10000; background-color: #eee; display: flex; align-items: center; justify-content: center; }\n  #iframe_block iframe { width: 100%; height: 100%; border: 0; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "9d73aa2a763f85b4",
        "type": "ui-template",
        "z": "91fe3dae2d3749fd",
        "group": "62e3f90362f475e5",
        "page": "",
        "ui": "",
        "name": "Terminal",
        "order": 1,
        "width": "12",
        "height": "12",
        "head": "",
        "format": "<template>\n  <div>\n    <div id=\"iframe_block\">\n      <iframe id=\"iframe_recamera\" :src=\"iframeUrl\"></iframe>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        iframeUrl: `http://${window.location.hostname}/#/terminal?disablelayout=1`\n      };\n    }\n  };\n</script>\n<style>\n  body, html { overflow: hidden; margin: 0; padding: 0; }\n  #iframe_block { overflow: auto; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 100%; min-height: 500px; z-index: 10000; background-color: #eee; display: flex; align-items: center; justify-content: center; }\n  #iframe_block iframe { width: 100%; height: 100%; border: 0; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "590e12af44ba3a6a",
        "type": "function",
        "z": "91fe3dae2d3749fd",
        "name": "Get IP Address",
        "func": "const interfaces = os.networkInterfaces()\nmsg.interfaces = context.get('getIpAddresses')(interfaces)\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "function getIpAddresses(interfaces) {\n    const reg = /^(wlan|usb|eth|en)/;\n    const addresses = {};\n    for (let iface in interfaces) {\n        for (let i = 0; i < interfaces[iface].length; i++) {\n            let address = interfaces[iface][i];\n            var matches = iface.match(reg);\n            if (matches && matches[1] && address.family === 'IPv4' && !address.internal) {\n                addresses[matches[1]] = address.address;\n            }\n        }\n    }\n    return addresses;\n}\ncontext.set('getIpAddresses', getIpAddresses);",
        "finalize": "",
        "libs": [{"var": "os", "module": "os"}],
        "x": 300,
        "y": 240,
        "wires": [["e0e62cca1a727447", "e072643ebfa88018", "9d73aa2a763f85b4", "e28d61b81e37f227", "07bdba8a7e80bad4"]]
    },
    {
        "id": "28fd876e4af9d001",
        "type": "inject",
        "z": "91fe3dae2d3749fd",
        "name": "",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 240,
        "wires": [["590e12af44ba3a6a"]]
    },
    {
        "id": "e28d61b81e37f227",
        "type": "ui-template",
        "z": "91fe3dae2d3749fd",
        "group": "a2f6b486b575c329",
        "page": "",
        "ui": "",
        "name": "System Update",
        "order": 3,
        "width": "6",
        "height": "6",
        "head": "",
        "format": "<template>\n  <div>\n    <div id=\"iframe_block\">\n      <iframe id=\"iframe_recamera\" :src=\"iframeUrl\"></iframe>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        iframeUrl: `http://${window.location.hostname}/#/system?disablelayout=1`\n      };\n    }\n  };\n</script>\n<style>\n  body, html { overflow: auto; margin: 0; padding: 0; }\n  #iframe_block { overflow: auto; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 100%; min-height: 500px; z-index: 10000; background-color: #eee; display: flex; align-items: center; justify-content: center; }\n  #iframe_block iframe { width: 100%; height: 100%; border: 0; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "07bdba8a7e80bad4",
        "type": "ui-template",
        "z": "91fe3dae2d3749fd",
        "group": "853d93c4c0f19c38",
        "page": "",
        "ui": "",
        "name": "Power",
        "order": 1,
        "width": "6",
        "height": "6",
        "head": "",
        "format": "<template>\n  <div>\n    <div id=\"iframe_block\">\n      <iframe id=\"iframe_recamera\" :src=\"iframeUrl\"></iframe>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        iframeUrl: `http://${window.location.hostname}/#/power?disablelayout=1`\n      };\n    }\n  };\n</script>\n<style>\n  body, html { overflow: auto; margin: 0; padding: 0; }\n  #iframe_block { overflow: auto; box-sizing: border-box; top: 0; left: 0; width: 100%; height: 100%; min-height: 500px; z-index: 10000; background-color: #eee; display: flex; align-items: center; justify-content: center; }\n  #iframe_block iframe { width: 100%; height: 100%; border: 0; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 540,
        "wires": [[]]
    },
    {
        "id": "8c6e46a8dc28225b",
        "type": "inject",
        "z": "ec72740f78e40785",
        "name": "update",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [["89804ebb20dee07b", "e92547529de30127", "e0b3d5cbc8f41e78", "e64ed4c52acbabca", "78b6448826033ede", "a10873c5b071f595"]]
    },
    {
        "id": "daf8a0eba4cdb867",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 626,
        "y": 655,
        "wires": [["008ca2cd78be23a9"]]
    },
    {
        "id": "8342331bbdb1f177",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000;\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626,
        "y": 695,
        "wires": [["78e5a2c949b24a8e"]]
    },
    {
        "id": "ed6870009572fd10",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000;\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626,
        "y": 735,
        "wires": [["074674a103f8325a"]]
    },
    {
        "id": "703ae35f1f91a102",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "function timeConversion(millisec) {\n    var seconds = (millisec / 1000).toFixed(1);\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n    if (seconds < 60) { return seconds + \" Sec\"; }\n    else if (minutes < 60) { return minutes + \" Min\"; }\n    else if (hours < 24) { return hours + \" Hrs\"; }\n    else { return days + \" Days\" }\n}\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 607,
        "y": 155,
        "wires": [["249d4b098a2d657f"]]
    },
    {
        "id": "a3540b4f3e5d2e87",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 606,
        "y": 192,
        "wires": [["fbf58ad83ad91d3e"]]
    },
    {
        "id": "611ea8e09a4bab29",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 608,
        "y": 230,
        "wires": [["65449eb15c8f4331"]]
    },
    {
        "id": "794b69c4e31be184",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 609,
        "y": 269,
        "wires": [["a3daf37923a56549"]]
    },
    {
        "id": "43867f29a56ff1f2",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 626,
        "y": 615,
        "wires": [["0768b7ad592ac823"]]
    },
    {
        "id": "0768b7ad592ac823",
        "type": "ui-chart",
        "z": "ec72740f78e40785",
        "group": "cb81f9d78a6a3513",
        "name": "Memory - 24 Hours",
        "label": "24 Hours",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": ["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "textColorDefault": true,
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 836,
        "y": 615,
        "wires": [[]]
    },
    {
        "id": "008ca2cd78be23a9",
        "type": "ui-gauge",
        "z": "ec72740f78e40785",
        "name": "Memory Usage",
        "group": "cb81f9d78a6a3513",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "1 Minute",
        "units": "Usage",
        "icon": "memory",
        "prefix": "",
        "suffix": "%",
        "segments": [{"from": "0","color": "#5cd65c"},{"from": "40","color": "#ffc800"},{"from": "70","color": "#ea5353"}],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 826,
        "y": 655,
        "wires": [[]]
    },
    {
        "id": "78e5a2c949b24a8e",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "cb81f9d78a6a3513",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Total Memory",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 826,
        "y": 695,
        "wires": []
    },
    {
        "id": "074674a103f8325a",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "cb81f9d78a6a3513",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Free Memory",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 816,
        "y": 735,
        "wires": []
    },
    {
        "id": "249d4b098a2d657f",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "a2f6b486b575c329",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Uptime",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 806,
        "y": 155,
        "wires": []
    },
    {
        "id": "fbf58ad83ad91d3e",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "a2f6b486b575c329",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Hostname",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 816,
        "y": 195,
        "wires": []
    },
    {
        "id": "65449eb15c8f4331",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "a2f6b486b575c329",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Platform",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 801,
        "y": 242,
        "wires": []
    },
    {
        "id": "a3daf37923a56549",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "a2f6b486b575c329",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Arch",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 791,
        "y": 282,
        "wires": []
    },
    {
        "id": "78b6448826033ede",
        "type": "exec",
        "z": "ec72740f78e40785",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print ($2 + $4) / 100}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 476,
        "y": 435,
        "wires": [["8cab65dcc6ad0297", "32735c4c95684fea"], [], []]
    },
    {
        "id": "8cab65dcc6ad0297",
        "type": "ui-gauge",
        "z": "ec72740f78e40785",
        "name": "CPU",
        "group": "35ddf11ddd1ade60",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "CPU",
        "units": "Usage",
        "icon": "cpu-64-bit",
        "prefix": "",
        "suffix": "%",
        "segments": [{"from": "0","color": "#5cd65c"},{"from": "40","color": "#ffc800"},{"from": "70","color": "#ea5353"}],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 796,
        "y": 435,
        "wires": [[]]
    },
    {
        "id": "32735c4c95684fea",
        "type": "ui-chart",
        "z": "ec72740f78e40785",
        "name": "CPU Load%",
        "label": "CPU Load%",
        "group": "35ddf11ddd1ade60",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "%",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "5",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": ["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "textColorDefault": true,
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 816,
        "y": 475,
        "wires": [[]]
    },
    {
        "id": "a10873c5b071f595",
        "type": "exec",
        "z": "ec72740f78e40785",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Disk Usage",
        "x": 436,
        "y": 855,
        "wires": [["aa302be3b0859f77"], [], []]
    },
    {
        "id": "aa302be3b0859f77",
        "type": "function",
        "z": "ec72740f78e40785",
        "name": "function 3",
        "func": "let data = msg.payload;\nlet lines = data.split('\\n');\nlet totalSize = 0;\nlet totalUsed = 0.256;\nlet totalAvailable = 0;\nlet regex = /(\\S+)\\s+([\\d.]+)([MKG]?)\\s+([\\d.]+)([MKG]?)\\s+([\\d.]+)([MKG]?)\\s+(\\d+)%/;\nfunction mbToGb(value, unit) {\n    switch (unit) {\n        case 'G': return value;\n        case 'M': return value / 1024;\n        case 'K': return value / 1024 / 1024;\n        default: return 0;\n    }\n}\nfor (let line of lines) {\n    let match = line.match(regex);\n    if (match && (match[1] === '/dev/root' || match[1] === '/dev/mmcblk0p6')) {\n        totalSize += mbToGb(parseFloat(match[2]), match[3]);\n        totalUsed += mbToGb(parseFloat(match[4]), match[5]);\n        totalAvailable += mbToGb(parseFloat(match[6]), match[7]);\n    }\n}\ntotalUsed = totalUsed.toFixed(2);\ntotalAvailable = totalAvailable.toFixed(2);\ntotalSize = (Number(totalUsed) + Number(totalAvailable)).toFixed(2);\nlet usedPercentage = ((totalUsed / totalSize) * 100).toFixed(2);\nlet freePercentage = ((totalAvailable / totalSize) * 100).toFixed(2);\nreturn [{payload: totalSize},{payload: totalUsed},{payload: totalAvailable},{payload: usedPercentage},{payload: freePercentage}];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 626,
        "y": 875,
        "wires": [["2124260b27823f1a"],["29526a370fd4182d"],["977405c143c0aa1a"],["a69be286ae54b8ad"],["6cbc00423a311cfb"]]
    },
    {
        "id": "2124260b27823f1a",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "8ee7b1867c318ca3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Total Storage",
        "label": "Total Storage (GB)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 816,
        "y": 855,
        "wires": []
    },
    {
        "id": "29526a370fd4182d",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "8ee7b1867c318ca3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Used Storage",
        "label": "Used Storage (GB)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 826,
        "y": 895,
        "wires": []
    },
    {
        "id": "977405c143c0aa1a",
        "type": "ui-text",
        "z": "ec72740f78e40785",
        "group": "8ee7b1867c318ca3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Free Storage",
        "label": "Free Storage (GB)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 816,
        "y": 935,
        "wires": []
    },
    {
        "id": "a69be286ae54b8ad",
        "type": "ui-gauge",
        "z": "ec72740f78e40785",
        "name": "Used Storage",
        "group": "8ee7b1867c318ca3",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "Used Storage",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [{"from": "0","color": "#a8f5ff"},{"from": "15","color": "#55dbec"},{"from": "35","color": "#53b4fd"},{"from": "50","color": "#2397d1"}],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 826,
        "y": 975,
        "wires": [[]]
    },
    {
        "id": "6cbc00423a311cfb",
        "type": "ui-gauge",
        "z": "ec72740f78e40785",
        "name": "Free Storage",
        "group": "8ee7b1867c318ca3",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "Free Storage",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [{"from": "0","color": "#a8f5ff"},{"from": "15","color": "#55dbec"},{"from": "35","color": "#53b4fd"},{"from": "50","color": "#2397d1"}],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 816,
        "y": 1015,
        "wires": [[]]
    },
    {
        "id": "89804ebb20dee07b",
        "type": "OS",
        "z": "ec72740f78e40785",
        "name": "",
        "x": 436,
        "y": 195,
        "wires": [["a3540b4f3e5d2e87","611ea8e09a4bab29","794b69c4e31be184"]]
    },
    {
        "id": "e92547529de30127",
        "type": "Uptime",
        "z": "ec72740f78e40785",
        "name": "",
        "x": 446,
        "y": 155,
        "wires": [["703ae35f1f91a102"]]
    },
    {
        "id": "e0b3d5cbc8f41e78",
        "type": "CPUs",
        "z": "ec72740f78e40785",
        "name": "",
        "x": 435,
        "y": 245,
        "wires": [[]]
    },
    {
        "id": "e64ed4c52acbabca",
        "type": "Memory",
        "z": "ec72740f78e40785",
        "name": "",
        "x": 446,
        "y": 615,
        "wires": [["daf8a0eba4cdb867","8342331bbdb1f177","ed6870009572fd10","43867f29a56ff1f2"]]
    },
    {
        "id": "b74bd72421bda93c",
        "type": "ui-dropdown",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "name": "Demo Options",
        "label": "Select Option:",
        "tooltip": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {"label": "Counting Person", "value": "0", "type": "str"},
            {"label": "Counting Cat", "value": "1", "type": "str"},
            {"label": "Counting Dog", "value": "2", "type": "str"},
            {"label": "Counting Bottle", "value": "3", "type": "str"}
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "flow",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 781,
        "y": 300,
        "wires": [["ebd4041780c247b0"]]
    },
    {
        "id": "2f5edfe22378a556",
        "type": "ui-text",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Available Demo Label",
        "label": "Available Demo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 801,
        "y": 240,
        "wires": []
    },
    {
        "id": "a708051956badc6d",
        "type": "ui-slider",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "name": "Confidence",
        "label": "Confidence",
        "tooltip": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 131,
        "y": 280,
        "wires": [["5c0e63d94c4f4080"]]
    },
    {
        "id": "31535d15b70c1468",
        "type": "ui-slider",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "name": "IoU",
        "label": "IoU",
        "tooltip": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 110,
        "y": 200,
        "wires": [["12543ce33a74dca8"]]
    },
    {
        "id": "b78e65063c9797bc",
        "type": "model",
        "z": "4faa963833a046c7",
        "name": "model",
        "uri": "/usr/share/supervisor/models/yolo11n_detection_cv181x_int8.cvimodel",
        "model": "YOLO11n Detection",
        "tscore": "0.5",
        "tiou": "0.4",
        "debug": false,
        "trace": false,
        "counting": false,
        "draw": false,
        "classes": "person,bicycle,car,motorcycle,airplane,bus,train,truck,boat,traffic light,fire hydrant,stop sign,parking meter,bench,bird,cat,dog,horse,sheep,cow,elephant,bear,zebra,giraffe,backpack,umbrella,handbag,tie,suitcase,frisbee,skis,snowboard,sports ball,kite,baseball bat,baseball glove,skateboard,surfboard,tennis racket,bottle,wine glass,cup,fork,knife,spoon,bowl,banana,apple,sandwich,orange,broccoli,carrot,hot dog,pizza,donut,cake,chair,couch,potted plant,bed,dining table,toilet,tv,laptop,mouse,remote,keyboard,cell phone,microwave,oven,toaster,sink,refrigerator,book,clock,vase,scissors,teddy bear,hair drier,toothbrush",
        "splitter": "0,0,0,0",
        "previewResolution": "1280x720",
        "previewFps": "30",
        "client": "d4edfe2d22b78af8",
        "x": 590,
        "y": 260,
        "wires": [["b3df5c75101b4c81", "export_delay_001"]]
    },
    {
        "id": "167e60b1b2138fb8",
        "type": "camera",
        "z": "4faa963833a046c7",
        "name": "",
        "client": "d4edfe2d22b78af8",
        "audio": false,
        "volume": "50",
        "option": "0",
        "fps": "30",
        "mirror": false,
        "flip": false,
        "x": 320,
        "y": 140,
        "wires": [["b78e65063c9797bc"]]
    },
    {
        "id": "ce6e1e1731ab355c",
        "type": "ui-template",
        "z": "4faa963833a046c7",
        "group": "53a493606ee6d430",
        "page": "",
        "ui": "",
        "name": "Preview Page",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div :id=\"containerId\" style=\"width: 100%; height: 100%;\">\n        <svg :id=\"svgId\" ref=\"svgEl\" style=\"display: block\"></svg>\n        <p v-if=\"connectionStatus\" :style=\"{ color: connectionStatus === 'Connected' ? 'green' : 'red' }\">\n            WebSocket: {{ connectionStatus }}\n        </p>\n    </div>\n</template>\n\n<script>\n    export default {\n  data() {\n    return {\n      ws: null,\n      connectionStatus: \"Disconnected\",\n      socketURL: `ws://${window.location.hostname}:8090`,\n      previewData: null,\n      svgWidth: 1920,\n      svgHeight: 1080,\n      reconnectTimer: null,\n      isDestroyed: false,\n    };\n  },\n  computed: {\n    containerId() { return `container`; },\n    svgId() { return `svg`; },\n  },\n  methods: {\n    updateSvgViewBox() {\n      const svg = this.$refs?.svgEl;\n      if (svg) { svg.setAttribute(\"viewBox\", `0 50 ${this.svgWidth} ${this.svgHeight}`); }\n    },\n    initializeWebSocket() {\n      if (this.reconnectTimer) { clearTimeout(this.reconnectTimer); this.reconnectTimer = null; }\n      if (this.ws) { this.ws.close(); }\n      if (this.isDestroyed) { return; }\n      this.ws = new WebSocket(this.socketURL);\n      this.ws.binaryType = \"arraybuffer\";\n      this.ws.addEventListener(\"open\", () => { if (!this.isDestroyed) { this.connectionStatus = \"Connected\"; } });\n      this.ws.addEventListener(\"message\", (event) => {\n        if (this.isDestroyed) return;\n        try {\n          const string = new TextDecoder().decode(new Uint8Array(event.data));\n          const obj = JSON.parse(string);\n          this.previewData = obj.data || obj;\n          const resolution = obj.data.resolution;\n          const width = resolution[0]; const height = resolution[1];\n          if (Number.isFinite(width) && Number.isFinite(height)) { this.svgWidth = width; this.svgHeight = height; this.updateSvgViewBox(); }\n          this.$nextTick(() => { this.renderAll(); });\n        } catch (e) { console.error(\"Error processing data:\", e); }\n      });\n      this.ws.addEventListener(\"error\", (e) => { if (!this.isDestroyed) { this.connectionStatus = \"Error\"; } });\n      this.ws.addEventListener(\"close\", () => {\n        if (!this.isDestroyed) {\n          this.connectionStatus = \"Disconnected\";\n          this.reconnectTimer = setTimeout(() => { if (!this.isDestroyed) { this.initializeWebSocket(); } }, 5000);\n        }\n      });\n    },\n    createSVGElement(type, attributes = {}) {\n      const element = document.createElementNS(\"http://www.w3.org/2000/svg\", type);\n      Object.keys(attributes).forEach((attr) => element.setAttribute(attr, attributes[attr]));\n      return element;\n    },\n    getColor(index, opacity = 1) {\n      const COLORS = [\"#FF0000\",\"#FF4500\",\"#FF6347\",\"#FF8C00\",\"#FFA500\",\"#FFD700\",\"#32CD32\",\"#006400\",\"#4169E1\",\"#0000FF\",\"#1E90FF\",\"#00FFFF\",\"#00CED1\",\"#20B2AA\",\"#FF1493\",\"#FF69B4\",\"#800080\",\"#8A2BE2\",\"#9400D3\",\"#9932CC\"];\n      const color = COLORS[index % COLORS.length];\n      if (opacity < 1 && opacity >= 0) { const r = parseInt(color.slice(1,3),16); const g = parseInt(color.slice(3,5),16); const b = parseInt(color.slice(5,7),16); return `rgba(${r}, ${g}, ${b}, ${opacity})`; }\n      return color;\n    },\n    renderImage(container, group, data) {\n      if (data.image) {\n        let img = document.getElementById(`image-output-img`);\n        if (!img) { img = this.createSVGElement(\"image\", {id:`image-output-img`,x:\"0\",y:\"50\"}); container.prepend(img); }\n        img.setAttribute(\"href\", `data:image/jpeg;base64,${data.image}`);\n      } else if (data?.resolution) {\n        const rect = this.createSVGElement(\"rect\", {x:\"0\",y:\"0\",width:data.resolution[0],height:data.resolution[1],fill:\"black\"});\n        const text = this.createSVGElement(\"text\", {x:10,y:20,\"font-size\":data.resolution[1]/24,fill:\"yellow\",stroke:\"yellow\",\"font-family\":\"Arial\"});\n        text.textContent = \"Warning: Please enable the model node's debug mode to display the actual image.\";\n        group.appendChild(rect); group.appendChild(text);\n      }\n    },\n    renderBoxes(group, data) {\n      if (data?.boxes) {\n        data.boxes.forEach((box, i) => {\n          if (box?.length === 6) {\n            const [x, y, w, h, score, tar] = box;\n            const color = this.getColor(tar);\n            const tarStr = data.labels?.[i] ?? `NA-${tar}`;\n            const fontSize = data.resolution[1] / 24;\n            const rect = this.createSVGElement(\"rect\", {x:x-w/2,y:y-h/2,width:w,height:h,fill:\"none\",stroke:color,\"stroke-width\":\"2\"});\n            group.appendChild(rect);\n            const labelHeight = fontSize + 4;\n            const labelX = x - w/2;\n            const labelY = (y - h/2 < labelHeight) ? y - h/2 : y - h/2 - labelHeight;\n            const rectText = this.createSVGElement(\"rect\", {x:labelX,y:labelY,width:w,height:labelHeight,fill:color,stroke:color,\"stroke-width\":\"2\"});\n            group.appendChild(rectText);\n            const text = this.createSVGElement(\"text\", {x:labelX+5,y:labelY+labelHeight-4,\"font-size\":fontSize,fill:\"white\",\"font-family\":\"Arial\"});\n            text.textContent = data?.tracks ? `#${data.tracks[i]}: ${tarStr}(${score})` : `${tarStr}(${score})`;\n            group.appendChild(text);\n          }\n        });\n      }\n    },\n    renderAll() {\n      const container = document.getElementById(this.containerId);\n      const svg = this.$refs?.svgEl || document.getElementById(this.svgId);\n      if (!container || !svg) return;\n      let group = document.getElementById(`image-output-group`);\n      if (!group) { group = this.createSVGElement(\"g\", {id:`image-output-group`,transform:\"translate(0, 50)\"}); svg.appendChild(group); }\n      group.innerHTML = \"\";\n      if (!this.previewData) { return; }\n      this.renderImage(svg, group, this.previewData);\n      this.renderBoxes(group, this.previewData);\n    },\n  },\n  mounted() { this.isDestroyed = false; this.initializeWebSocket(); },\n  unmounted() {\n    this.isDestroyed = true;\n    if (this.reconnectTimer) { clearTimeout(this.reconnectTimer); this.reconnectTimer = null; }\n    if (this.ws) { this.ws.close(); this.ws = null; }\n  },\n};\n</script>\n<style>\n    #container { position: relative; width: 100%; height: 100%; }\n    svg { width: 100%; height: 100%; background-color: #000; }\n    p { position: absolute; bottom: 10px; left: 10px; margin: 0; padding: 5px; background-color: rgba(0,0,0,0.5); border-radius: 4px; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "5c0e63d94c4f4080",
        "type": "function",
        "z": "4faa963833a046c7",
        "name": "Send Confidence",
        "func": "const tscore = Number((Number(msg.payload)/100).toFixed(2))\nmsg.payload = {tscore}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 351,
        "y": 280,
        "wires": [["b78e65063c9797bc"]]
    },
    {
        "id": "12543ce33a74dca8",
        "type": "function",
        "z": "4faa963833a046c7",
        "name": "Send IoU",
        "func": "const tiou = Number((Number(msg.payload)/100).toFixed(2))\nmsg.payload = {tiou}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [["b78e65063c9797bc"]]
    },
    {
        "id": "32ca87d4a03538a4",
        "type": "ui-text",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Counting Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1021,
        "y": 360,
        "wires": []
    },
    {
        "id": "ebd4041780c247b0",
        "type": "function",
        "z": "4faa963833a046c7",
        "name": "Select Handle",
        "func": "flow.set(\"option_model\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1021,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "b3df5c75101b4c81",
        "type": "function",
        "z": "4faa963833a046c7",
        "name": "Model Info Handle",
        "func": "const selectModel = flow.get(\"option_model\")\nlet currentModel = \"Current \"\nlet object = ''\nswitch(selectModel) {\n    case \"0\": currentModel += \"People\"; object = 'person'; break;\n    case \"1\": currentModel += \"Cat\"; object = 'cat'; break;\n    case \"2\": currentModel += \"Dog\"; object = 'dog'; break;\n    case \"3\": currentModel += \"Bottle\"; object = 'bottle'; break;\n    default: currentModel = null\n}\nif (currentModel) {\n    const labels = msg.payload?.data?.labels ?? []\n    if (!Array.isArray(labels)) { return { payload: '' } }\n    const num = labels.filter(label => String(label).toLowerCase() === object).length\n    currentModel += ` number: ${num}`\n    return {payload: currentModel}\n} else {\n    return {payload: ''}\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 791,
        "y": 360,
        "wires": [["32ca87d4a03538a4"]]
    },
    {
        "id": "262184a38088c174",
        "type": "ui-text",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Model is: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1031,
        "y": 180,
        "wires": []
    },
    {
        "id": "6c8d06fbd8a69b0b",
        "type": "ui-template",
        "z": "4faa963833a046c7",
        "group": "d9c66abde84c734d",
        "page": "",
        "ui": "",
        "name": "Current Model",
        "order": 2,
        "width": "3",
        "height": "1",
        "head": "",
        "format": "<template>\n    <div style=\"display: none\"></div>\n</template>\n<script>\n    export default {\n        data() { return { name: 0 } },\n        watch: { name: function () { this.send({payload: this.name}) } },\n        async mounted() {\n            const response = await fetch(`http://${window.location.hostname}/api/deviceMgr/getModelInfo`)\n            const data = await response.json()\n            const modelInfo = JSON.parse(data.data.model_info)\n            this.name = modelInfo.model_name\n        },\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 781,
        "y": 180,
        "wires": [["262184a38088c174"]]
    },
    {
        "id": "4a6ecba80ac84c86",
        "type": "subflow:ec72740f78e40785",
        "z": "4faa963833a046c7",
        "name": "",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "2209af3e5a0b2997",
        "type": "subflow:91fe3dae2d3749fd",
        "z": "4faa963833a046c7",
        "name": "",
        "x": 140,
        "y": 660,
        "wires": []
    },
    {
        "id": "export_delay_001",
        "type": "delay",
        "z": "4faa963833a046c7",
        "name": "Rate Limit 1/sec",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 791,
        "y": 460,
        "wires": [["export_format_001"]]
    },
    {
        "id": "export_format_001",
        "type": "function",
        "z": "4faa963833a046c7",
        "name": "Format Predictions",
        "func": "// Data lives at msg.payload.data\nvar data = msg.payload && msg.payload.data ? msg.payload.data : null;\n\n// Drop frames with nothing detected\nif (!data || !Array.isArray(data.labels) || data.labels.length === 0) {\n    return null;\n}\n\n// Build a clean log entry\nvar out = {\n    timestamp: new Date().toISOString(),\n    count: data.labels.length,\n    labels: data.labels,\n    boxes: data.boxes || [],\n    resolution: data.resolution || []\n};\n\nmsg.url = \"http://192.168.42.41:5000/predictions\";\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify(out);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1001,
        "y": 460,
        "wires": [["export_http_001"]]
    },
    {
        "id": "export_http_001",
        "type": "http request",
        "z": "4faa963833a046c7",
        "name": "Send to PC",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1201,
        "y": 460,
        "wires": [[]]
    }
]